table, th, td {
    align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    text-align: center;
}
td{
    align: center;
    text-aling: center;
}

input_text {
    width: 100%;
    align-self: center;
}

